*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url(assets/Space.ttf) format(truetype);
}

:root{
    --backgroundP: rgb(19, 20, 27);
    --cards: rgb(28, 31, 42);
    --text: rgb(242, 242, 247);
    --textSecondary: rgb(180, 183, 201);
    --cardV: rgb(201, 157, 255);
    --cardN: rgb(255, 178, 30);
    --cardC: rgb(255, 138, 101);
    --progress: rgb(209, 155, 255);
    --border: rgb(42, 45, 58);
}
html{
    background-color: var(--border);
}

.proyect{
    font-family: "SpaceGrotesk", sans-serif;
   background-color: var(--backgroundP);
   text-align: center;
    width: 600px;
    margin: 150px auto;
    min-height: 100vh;
    padding: 20px;
}

.topbar{
    margin-bottom: 10px;
    display: flex;
   
    color: var(--text);
}

img{
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.topbar h1{
justify-content: start;
margin-bottom: 10px;
font-size: 19px;
margin-right: 310px;
align-items: center;
}

.topbar button{
    border-radius: 6px;
    height: 33px;
    width: 33px;
    text-decoration: none;
    cursor: pointer;
    border:2px solid var(--border) ;
    transition: 0.3s;
   justify-content: center;
   
}

button:hover{
    border-color: var(--cardV);
}
button:focus{
  border-color: var(--cardN);
}

.introduction{
    margin-bottom: 25px;
    margin-top: 35px;
    font-size: 27px;
    color: var(--text);
}

.text{
    color: var(--text);
}

textarea{
    
    resize: none;
    display: block;
width: 560px;
height: 150px;  
margin: 20px, 20px;
border-radius: 10px;
background-color: var(--border);
border: 3px solid var(--border);
color: var(--text);
}

textarea:focus{
    outline: none;
    border: none;
    padding: 5px;
}

.input{
    display: flex;
    margin-top: 12px;
    font-size: 12px;
    justify-content: space-between;
    color: var(--textSecondary);
}

.inputs{
    display: flex;
    height: 20px;
    border-radius: 3px;
    gap: 20px;
  
}

input{
    appearance: none;
    width: 13px;
  height: 13px;
  border: 1px solid var(--textSecondary);
  border-radius: 3px;
  align-items: center;
    margin-right: 6px;
}

input:hover{
    cursor: pointer;
    background-color: var(--cardV);
}

input:checked{
    background-color: green;
}

.results{
    display: flex;
    margin-top: 50px;
    color: var(--cards);
    justify-content: space-between;
}

.result1{
    background-image: url(assets/fondo-violeta.png);
    width: 175px;
    height: 130px;
    border-radius: 8px;
}
.result1Number{
    font-size: 45px;
    font-weight: bold;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    margin-left: 12px;
}
.totalCharacters{
       padding-left: 10px;
    text-align: left;
    font-weight: bold;
}

.result2{
    background-image: url(assets/fondo-naranja.png);
    width: 175px;
    height: 130px;
    border-radius: 8px;
}
.result2Number{
     font-size: 45px;
    font-weight: bold;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    margin-left: 12px;
}
.wordCount{
    padding-left: 10px;
    text-align: left;
    font-weight: bold;
}

.result3{
    background-image: url(assets/fondo-rosa.png);
    width: 175px;
    height: 130px;
    border-radius: 8px;
}
.result3Number{
     font-size: 45px;
    font-weight: bold;
    align-items: center;
    text-align: left;
    margin-top: 20px;
    margin-left: 12px;
}
.sentenceCount{
     padding-left: 10px;
    text-align: left;
    font-weight: bold;
}

.metrics{
    margin-top: 20px;
    color: var(--text);
    text-align: left;
}
.metrics

progress{
    appearance: none;
    width: 450px;
    height: 11px;

}
progress::-webkit-progress-bar {
  background-color: #2a2d3a; 
  border-radius: 6px;
}

progress::-webkit-progress-value {
  background-color: var(--cardV); 
  border-radius: 6px;
}


h3{
    margin-bottom: 15px;
}

.percent1{
    display: inline;
    font-size: 14px;
    color: var(--textSecondary);
}

.percent2{
    display: inline;
     font-size: 14px;
     color: var(--textSecondary);
}

.percent3{
     font-size: 14px;
    display: inline;
    color: var(--textSecondary);
}

.percent4{
    color: var(--textSecondary);
     font-size: 14px;
    display: inline;
}

.percent5{
    color: var(--textSecondary);
     font-size: 14px;
    display: inline;
}

.letra1{
    color: var(--textSecondary);
    display: inline;
    font-size: 14px;
    margin-right: 10px;
}

.letra2{
    color: var(--textSecondary);
    padding-left: 4px;
    display: inline;
      font-size: 14px;
    margin-right: 12px;
}

.letra3{
    color: var(--textSecondary);
    display: inline;
      font-size: 14px;
    margin-right: 10px;
}

.letra4{
    color: var(--textSecondary);
    display: inline;
      font-size: 14px;
    margin-right: 10px;

}

.letra5{
    color: var(--textSecondary);
    display: inline;
      font-size: 14px;
    margin-right: 10px;
}

.r1{
    margin-bottom: 7px;
}
.r2{
    margin-bottom: 7px;
}
.r3{
    margin-bottom: 7px;
}
.r4{
    margin-bottom: 7px;
}
.r5{
    margin-bottom: 7px;
}

.seemore{
    color: white;
    display: flexbox;
}

