*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "SpaceGrotesk";
    src: url(Space.ttf) format(truetype);
}

body{
    font-family: "SpaceGrotesk", sans-serif;
    justify-content: center;
    width: 50%;
    margin: ;
}